#!/bin/bash
# Copyright 2010 Rorschach <r0rschach@lavabit.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.


# put this file into /etc/cron.hourly and replace rorschach with your username

arch_user=rorschach

if [ -z "$(pgrep pacman)" ];then
        /usr/bin/pacman -Sy > /dev/null
fi
su - $arch_user -c "XAUTHORITY=/home/$arch_user/.Xauthority DISPLAY=:0.0 /usr/bin/aarchup --uid $(id -u $arch_user) --icon /usr/share/aarchup/archlogo.svg"
