#!/bin/bash
# Copyright 2010 Rorschach <r0rschach@lavabit.com>
# Copyright 2011 aericson <de.ericson@gmail.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.


# put this file into /etc/cron.hourly and replace rorschach with your username

ARCH_USER=rorschach

if [ -z "$(pgrep pacman)" ];then
        /usr/bin/pacman -Sy > /dev/null
fi

USER_UID=`id -u $ARCH_USER`
SYSTEMCTL_GDM=`systemctl show gdm | grep ActiveState | cut -d"=" -f2`

if [ "$SYSTEMCTL_GDM" = "active" ] ; then
	# Don't know if there is still gdm v2 in the wild...
	GDM_VERSION=`pacman -Qi gdm | grep Version | cut -d":" -f2 | sed "s/ //g" | cut -d'.' -f1`
    if [ $GDM_VERSION -eq 3 ] ; then
		DISPLAY=:0 /usr/bin/aarchup --uid $USER_UID --icon /usr/share/aarchup/archlogo.svg
    else
		su - $ARCH_USER -c "XAUTHORITY=$(/usr/bin/find /var/run/gdm -path "*${ARCH_USER}*/database") DISPLAY=:0.0 /usr/bin/aarchup --uid $USER_UID --icon /usr/share/aarchup/archlogo.svg"
    fi
else
	su - $ARCH_USER -c "XAUTHORITY=/home/$ARCH_USER/.Xauthority DISPLAY=:0.0 /usr/bin/aarchup --uid $USER_UID --icon /usr/share/aarchup/archlogo.svg"
fi

